body {
    background: #D6DCE5;
    color: #43464B;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}


h1 {
    font-size: large;
    font-weight: bold;
    margin-right: 5px;
    
}

h2 {
    font-weight: lighter;
}

p {

}

.quotered {
    font-size: small;
    color: #7f7f7f;
    background-color: white;
    display:flex;
    padding-left: 20px;
    border-left-style:dashed;
    border-left: 2px solid #C00000;
    margin: 10px 25px 10px 25px;
  }