/* Obviously, root is for naming colors I'm choosing.
   I'm doing this before looking into color theory/design. Wooh! */
   :root {
    --steelgrey: #43464B;
    --azure: #edfffd;
    --skyblue: #87CEEB;
    --midnightblue: #000080;
    --offwhite: #FDFDFD;
}


/* Nice and structured, putting building blocks in place. */
body {
    margin: 70px;
    background: var(--bg);
    color: var(--fontColor);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width: 800px) {
    body {
      margin: 30px 20px /*top right bottom left*/
    }
  }

/* It's theme time!
   - I don't have to tell you bg is background, right? You're bright, you get it.
   - btn is button, specifically the button we'll use to switch between themes. */

.light-theme {
    --bg: var(--offwhite);
    --fontColor: var(--steelgrey);
    --btnBg: var(--midnightblue);
    --articleboxBg: #F2F2F2;
    --highlightColor: #fff2cc;
    --unvisitedlink: #0070C0;
}

.dark-theme {
    --bg: var(--steelgrey);
    --fontColor: var(--azure);
    --btnBg: var(--skyblue);
}

.btn {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 8px;
    font-size: larger;
    padding: 10px 10px;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    cursor: pointer;
}

.container {
    position: relative;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    background-color: var(--articleboxBg);
    padding: 0px 5px 0px 5px; /*top right bottom left*/
  }
  
  img { 
    width: 100%;
    height: auto;
  }

.articlebox {
    background-color: var(--articleboxBg);
    padding: 10px 20px 10px 15px; /*top right bottom left*/
  }

highlight {
    background-color: var(--highlightColor);
  }

/* unvisited link */
a:link {
    color: var(--unvisitedlink);
}
  
/* visited link */
a:visited {
    color: var(--unvisitedlink);
}
  
/* mouse over link */
/* a:hover {
   color: hotpink;
} */
  
/* selected link */
/* a:active {
    color: blue;
} */