/* Obviously, root is for naming colors I'm choosing.
   I'm doing this before looking into color theory/design. Wooh! */
   :root {
    --steelgrey: #43464B;
    --azure: #edfffd;
    --skyblue: #87CEEB;
    --midnightblue: #000080;
    --offwhite: #FDFDFD;
}


/* Nice and structured, putting building blocks in place. */
body {
    margin: 70px;
    background: var(--bg);
    color: var(--fontColor);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (max-width: 800px) {
    body {
      margin: 30px 20px /*top right bottom left*/
    }
  }

/* It's theme time!
   - I don't have to tell you bg is background, right? You're bright, you get it.
   - btn is button, specifically the button we'll use to switch between themes. */

.light-theme {
    --bg: var(--offwhite);
    --fontColor: var(--steelgrey);
    --btnBg: var(--midnightblue);
    --articleboxBg: #F2F2F2;
    --imagelabelBg: #F2F2F2;
    --highlightColor: #fff2cc;
    --highlightTextColor: var(--steelgrey);
    --unvisitedlink: #0070C0;
}

.dark-theme {
    --bg: var(--steelgrey);
    --fontColor: var(--azure);
    --btnBg: var(--skyblue);
    --imagelabelBg: #3B3838;
    --highlightColor: #fff2cc;
    --unvisitedlink: #00B0F0;
    --highlightTextColor: var(--steelgrey);
}

.btn {
  float: right;
  border-radius: 8px;
  font-size: larger;
  padding: 10px 10px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
  cursor: pointer;
}

/* TESTING NAVBAR NAVBAAAAR */

.navbar {
  overflow: hidden;
  background-color: #333;
  color: white;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #fff2cc;
  color: var(--steelgrey);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* NAAAVBAAAAR 
ENNNNNDDDDDDDDD*/



.container {
    position: relative;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    background-color: var(--imagelabelBg);
    padding: 0px 5px 0px 5px; /*top right bottom left*/
  }
  
  img { 
    width: 100%;
    height: auto;
  }

.articlebox {
    background-color: var(--articleboxBg);
    padding: 10px 20px 10px 15px; /*top right bottom left*/
  }

highlight {
    background-color: var(--highlightColor);
    color: var(--highlightTextColor);
  }

/* unvisited link */
a:link {
    color: var(--unvisitedlink);
}
  
/* visited link */
a:visited {
    color: var(--unvisitedlink);
}
  
/* mouse over link */
/* a:hover {
   color: hotpink;
} */
  
/* selected link */
/* a:active {
    color: blue;
} */