
/* hello!!!! ✭ */

:root {  /*when you add a new one here, add it under both .articlebox and taggies too */
  --activism: #663300;
  --biology: #7030A0;
  --bookreviews: #FFC300;
  --environment: #00B050;
  --history: #C55A11;
  --international: #C00000;
  --space: #001279;
  --nothing: #d9d9d9;
}

/* | Setup: margins and font family */
body {
    margin: 70px;
    background: var(--bg);
    color: var(--fontColor);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}

@media screen and (max-width: 900px) {
    body {
      margin: 30px 20px /*top right bottom left*/
    }
  }

/* turning bullet points into stars */
ul {
  list-style: none;
  margin-left: -20px;
}

ul li:before {
  content: "✭ \0000a0";
  font-size: small;
}

/* || It's theme time! (btn is specifically the theme-switching button). */

.light-theme {
    --bg: #FDFDFD;
    --fontColor: #43464B;
    --btnBg: #000080;
    /* for magazine rack */
    --imagelabelBg: #F2F2F2;
    --articleboxBg: #f5f5f5;
    --articleheadlink: #0070C0;
    --articlebodylink: #0070C0;
    --highlightColor: #fff2cc;
    --highlightTextColor: #43464B; 
}

.dark-theme {
    --bg: #43464B;
    --fontColor: #edfffd;
    --btnBg: #87CEEB;
    --imagelabelBg: #3B3838;
    --highlightColor: #fff2cc;
    --articleheadlink: #00B0F0;
    --highlightTextColor: #43464B;
}

.btn {
    float: right;
    font-size: larger;
    padding: 10px 10px;
    border: none;
    background-color: var(--btnBg);
    cursor: pointer;
}

/* || Navigation Bar */

.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #fff2cc;
    color: var(--steelgrey);
}
  
.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
    /* NAAAVBAAAAR 
    ENNNNNDDDDDDDDD*/

  /* || IMAGES */

  .headerimg {
    width: 100%;
    height: auto;
  }
  .iconimg {
    width:fit-content;
    max-width: 50px;
    min-width: 20px;
    float: right;
    vertical-align: baseline;
    padding: 10px 0px 10px 10px; /*top right bottom left*/
  }

  /* WORDS ON IMAGES: */
  .container {
    position: relative;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    background-color: var(--imagelabelBg);
    padding: 0px 5px 0px 5px; /*top right bottom left*/
  }
  /* -----------------end words on images */
 

  /* link styles (so it doesn't affect the header */
  
  a.one:link {
    color: var(--articleheadlink)
    /*font-weight: bold; */
  }
  a.one:visited {color: var(--articleheadlink);}

  a.two:link {color: var(--articleheadlink);}
  a.two:visited {color: var(--articleheadlink);}

  /* yn3ml kida:
  <a class="one" href="maw8i3">text</a>/*

  /* *****************************
  ** SPECIFIC TO: MAGAZINE RACK **
  ****************************** */

  .articlepreview {
    padding: 0px 15px 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }

  .articleimage{
    max-height: 40px;
    float: right;
  }
  .author {
    clear: right;

  }
  .preview {

  }

  .articlebox {
    background-color: var(--articleboxBg);
    color: var(--fontColor);
    text-align: left;
    font-size: small;
    border-style: dashed;
    border-color: #d9d9d9;
    border-top: none;
    border-left: none;
    margin-left: 20px;
    padding: 10px 20px 10px 10px; /*top right bottom left*/
  }

  .articlebox.activism {
    border-color: var(--activism);
  }

  .articlebox.biology {
    border-color: var(--biology);
  }

  .articlebox.bookreviews {
    border-color: var(--bookreviews);
  }

  .articlebox.environment {
    border-color: var(--environment);
  }

  .articlebox.history {
    border-color: var(--history);
  }

  .articlebox.international {
    border-color: var(--international);
  }
  
  .articlebox.space {
    border-color: var(--space);
  }

  .articlebox.nothing {
    border-color: var(--nothing);
  }
  
  .highlight {
    background-color: var(--highlightColor);
    color: var(--highlightTextColor);
  }

  /* span! span is like div but inline! what a wonderful discovery! */
  
  .quotered {
    display: block;
    padding-left: 20px;
    border-left-style: solid;
    border-left: 2px solid #C00000;
  }

  /* gonna use these for tags: */

  taggies {
    color: white;
    text-align: right;
    border: none;
    float: right;
    border-radius: 25px;
    border-style: solid;
    padding: 5px 10px 5px 10px;
  }

  .activismtag {
    background-color: var(--activism);
  }

  .biologytag {
    background-color: var(--biology);
  }

  .bookreviewstag {
    background-color: var(--bookreviews);
  }

  .environmenttag {
    background-color: var(--environment);
  }

  .historytag {
    background-color: var(--history);
  }

  .internationaltag {
    background-color: var(--international);
  }

  .spacetag {
    background-color: var(--space);
  }


  .nothingtag {
    background-color: var(--nothing);
    color: #43464B;
  }

  /* separator lines */

  /* background-image: linear-gradient(to right, transparent, #AFABAB, transparent);  */
  .hr1 {
    margin: 40px 0;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, black, transparent);  
  }


  .hr2 {
    margin: 30px 0;
    border: 0;
    border-top: 1px dashed #d9d9d9;
  }


