
:root {  /*when you add a new one here, add it under both .articlebox and taggies too */
    --red: #C00000;
    --orange: #ff9900;
    --yellow: #faee81;;
    --green: #00B050;
    --blue: #0070C0;
    --purple: #7030A0;
    --nothing: #d9d9d9;
    --lighttagtext: #333;
  }
  
/* flex-container-nowrap contains the colored category buttons */
.flex-nowrap {display: flex; flex-wrap: nowrap;}
/* the justify content below works on the text alignment of the color buttons */
.flex-nowrap > button {display: flex; width: 100%; flex-wrap: nowrap; justify-content: right; align-items: center;}
/* ahahaaa exxcept the rainbow tag she gets to be special */
.flex-nowrap > .rainbowtag {justify-content: center;}

/* i want all the buttons to have centered text when i'm on my phone */
@media(max-width: 720px){
    .flex-nowrap > button {justify-content: center;}
  }

/* --------------------------------------------------- */

/* the categories are rainbow colors, the logos are images */
.categorybutton, .catlogo {font-family: 'satisfy'; width: 70px; outline: none; color: white; border: none; opacity: 0.5; border-radius: 25px; border-style: solid; border-color: var(--articleboxBg); padding: 5px 10px 5px 10px; cursor: pointer;}
  
.catlogo {color: black; text-align: center; border: none; height: 20px; padding: 5px 5px 5px 5px; width: auto; margin: auto;}

  .categorybutton:hover, .catlogo:hover {
    opacity: 0.8;
  }
  
  .categorybutton.active, .catlogo.active {
    opacity: 1;
    border-color: white;
  }

/* the show all button gets a rainbow tag */
  .rainbowtag {
    background: rgb(192,0,0);
    background: linear-gradient(90deg, rgba(192,0,0,1) 0%, rgba(255,165,0,1) 18%, rgba(255,195,0,1) 35%, rgba(0,176,80,1) 57%, rgba(0,102,204,1) 77%, rgba(112,48,160,1) 93%); 
  }

  .redtag {background-color: var(--red);}
  .orangetag {background-color: var(--orange);}
  .yellowtag {background-color: var(--yellow);}
  .greentag {background-color: var(--green);}
  .bluetag {background-color: var(--blue);}
  .purpletag {background-color: var(--purple);}


  /* ------------------------------------ */

  .light-theme {
    --titleboxcolor: white;
    --titleboxfont: ;
  }

  .dark-theme {
    --titleboxcolor: black;
    --titleboxfont: ;
  }

  .titlebox {
    /* background-color: var(--titleboxcolor); */
    align-items: center;
    /* padding: 10px 5px 2px 10px; */
    /* a:hover {color: var(--linkhovercolor); text-decoration: underline dashed var(--fontColor);} */
    }

    .titlebox > div {padding: 5px;}

    .titlebox > a {
      font-family: 'la-belle-aurore';
      font-size: larger;
      text-decoration: underline var(--fontColor);
    }
    .titlebox > a:hover {color: var(--linkhovercolor); text-decoration: underline var(--linkunderlinehovercolor);}

    /* .yellow > .titlebox > a {text-decoration: underline dashed #333;} */

    /* .yellow > .titlebox > a:hover {color: white; text-decoration: underline dashed white;} */

    /* stalemate, vibur, rochester */

  article {
    border-style: solid;
    border-width: 3px;
    border-color: #d9d9d9;
    border-top: none;
    border-left: none;
  }

  blockquote {border-image: none}

  .red article, .red blockquote {border-color: var(--red);}
  .orange article, .orange blockquote {border-color: var(--orange);}
  .yellow article, .yellow blockquote {border-color: var(--yellow);}
  .green article, .green blockquote {border-color: var(--green);}
  .blue article, .blue blockquote {border-color: var(--blue);}
  .purple article, .purple blockquote {border-color: var(--purple);}

  blockquote > blockquote {border-image:linear-gradient(to top,#c4e17f, #f7fdca,#fad071,#f0766b,#db9dbe,#c49cdf, #6599e2,#61c2e4) 10;}

  /* .red > .titlebox {background-color: var(--red);}
  .orange > .titlebox {background-color: var(--orange);}
  .yellow > .titlebox {background-color: var(--yellow); color: #333}
  .green > .titlebox {background-color: var(--green);}
  .blue > .titlebox {background-color: var(--blue);}
  .purple > .titlebox {background-color: var(--purple);} */

  .light-theme {
    --redhighlight: #ffadad; --redhighlighttext: ;
    --orangehighlight: #ffe8c7; --orangehighlighttext: ;
    --yellowhighlight: ; --yellowhighlighttext: ;
    --greenhighlight: #cbe3b8; --greenhighlighttext: ;
    --bluehighlight: #c7def0; --bluehighlighttext: ;
    --purplehighlight: #efd9ff; --purplehighlighttext: ;
  }
  
  .dark-theme {
    --redhighlight: #C00000; --redhighlighttext: ;
    --orangehighlight: #ff9900; --orangehighlighttext: ;
    --yellowhighlight: ; --yellowhighlighttext: ;
    --greenhighlight: #00B050; --greenhighlighttext: ;
    --bluehighlight: #0070C0; --bluehighlighttext: ;
    --purplehighlight: #7030A0; --purplehighlighttext: ;
  }

  .red mark {background: linear-gradient(to right, var(--redhighlight) 100%, transparent 0%);}
  .orange mark {background: linear-gradient(to right, var(--orangehighlight) 100%, transparent 0%);}
  .green mark {background: linear-gradient(to right, var(--greenhighlight) 100%, transparent 0%);}
  .blue mark {background: linear-gradient(to right, var(--bluehighlight) 100%, transparent 0%);}
  .purple mark {background: linear-gradient(to right, var(--purplehighlight) 100%, transparent 0%);}