/* ================================================ FONTS */
@font-face {
    font-family: 'charmonmanregular';
    src: url('fonts/charmonman-regular-webfont.woff2') format('woff2'),
         url('fonts/charmonman-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'quicksandregular';
    src: url('fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('fonts/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'quicksanddash';
    src: url('fonts/quicksand_dash-webfont.woff2') format('woff2'),
         url('fonts/quicksand_dash-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* ===================================================== */
body {
    margin: 70px;
    background: #D6DCE5;
    color: #43464B;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}


@media screen and (max-width: 700px) {
    body {
      margin: 30px 20px /*top right bottom left*/
    }
  }

/* =================================================== */

/* ============================================== */

/* ------------------------------------ IMAGES */
.banner {
    width: 100%;
    height: auto;
    display: block;
    border: white;
    border-width: 50px;
  }

.journal {
    width: 20%;
    max-width: 140px;
    min-width: 90px;
    height: auto;
    margin: 5px 15px 2px 5px;
    float: left;
}
/* --------------------------------- SEPARATOR */
hr {
    margin: 40px 0;
  }

  /* background-image: linear-gradient(to right, transparent, #AFABAB, transparent);  */
  .hr1 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, black, transparent);  
  }
/* =============================== TEXT STYLES */

.note1 {
    font-family: 'charmonmanregular';
}

.sig {
    font-style: italic;
    float: right;
}
.articlebox {
    background-color: #f2f2f2;
    border: 3px solid;
}

.headerbox {
    background-color: white;
    color: black;
    margin-left: 100px;
}

.title {
    font-size: large;
    font-weight: bold;
    margin-right: 5px;
    
}
.subtitle {
    font-weight: lighter;
}

.date {
    float: right;
    margin-right: 5px;
}

p {
    margin: 15px;
}

.quotered {
    font-size: small;
    color: #7f7f7f;
    background-color: white;
    display: block;
    padding-left: 20px;
    border-left-style: solid;
    border-left: 2px solid #C00000;
    margin: 10px 25px 10px 25px;
  }

  .note {
    color: #7030A0;
    font-family: 'charmonmanregular';
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 20px;
  }

  .notescrap {
    color: #7030A0;
    font-family: 'charmonmanregular';
    font-weight: bold;
  }

  .alzebdah {
    background-color: beige;
    display: block;
  }

  ul li { padding: 5px 0px; }

  .hr2 {
    margin: 5px;
    border: 0;
    border-top: 1px dashed #d9d9d9;
  }

  /* ================================== */


  /* From uiverse.io by @Voxybuns */
button {
    /* Variables */
   --button_radius: 0.75em;
   --button_color: #e8e8e8;
   --button_outline_color: #000000;
   font-size: 17px;
   font-weight: bold;
   border: none;
   border-radius: var(--button_radius);
   background: var(--button_outline_color);
  }
  
  .button_top {
   display: block;
   box-sizing: border-box;
   border: 2px solid var(--button_outline_color);
   border-radius: var(--button_radius);
   padding: 0.75em 1.5em;
   background: var(--button_color);
   color: var(--button_outline_color);
   transform: translateY(-0.2em);
   transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Pull the button upwards when hovered */
   transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
   transform: translateY(0);
  }