
.headerimage {width: 100%; height: auto; float: none; bottom: auto;}

article {
    border: solid 4px white;
    border-radius: 5px;
}

.headbox {display: flex; margin-bottom: 10px;}

.title {font-family: 'homemade-apple';}

.subtitle {font-style: italic;}

.hr2 {margin: 8px;}


