


h2 {text-align: right;}

.text-feed {width: 50%;}

hr {margin: 10px 0;}


.images {width: 50%;}

.book, .good, .neutral, .bad {height: 170px;}

.tv {
  height: 165px;
  padding: 4px 7px 19px;
  background: url(00/images/image-editors/tv-black.png) 0/100% 100%;
}