


h2 {text-align: right;}

.text-feed {margin-left: 2px;}

hr {margin: 10px 0;}


.images {float:left ;width: 50%;}

.book, .good, .neutral, .bad {height: 170px;}

.tv {
  height: 165px;
  padding: 4px 7px 19px;
  background: url(00/images/image-editors/tv-black.png) 0/100% 100%;
}

.videogame {
  height: 165px;
  padding: 4px 7px 19px;
  background: url(00/images/image-editors/tv-black.png) 0/100% 100%;
}