
/* hello!!!! ✭ */

.light-theme {
    /* full page background and font colors: */
    --bg: #D6DCE5; --fontColor: #43464B;
    /* what color should links be when you hover on them: */
    --linkhovercolor: #188bdd;
    --linkunderlinehovercolor: #43464B;
    /* background color of each article: */
    --articlebg: #f5f5f5;
    /* when highlighting using <mark>: */
    --highlightColor: #fff2cc; --highlightTextColor: ;
    --saudihighlight: #E2EFDA;
    /* -------------------------------------------- */
    /* if you have words in your header image like on magazine rack: */
    --headerimagelabelbg: #F2F2F2;
    /* theme button background color: */
    --btnBg: #87CEEB;

    /* dskflrkgjoe */
    --purplenote: #7030A0;
}

.dark-theme {
    /* full page background and font colors: */
    --bg: #43464B; --fontColor: #edfffd;
    /* what color should links be when you hover on them: */
    --linkhovercolor: #00B0F0;
    --linkunderlinehovercolor: #00B0F0;
    /* background color of each article: */
    --articlebg: #333;
    /* when highlighting using <mark>: */
    --highlightColor: #7030A0; --highlightTextColor: white;
    --saudihighlight: #1e8020;
    --saudihighlighttextcolor:  ;
    /* -------------------------------------------- */
    /* if you have words in your header image like on magazine rack: */
    --headerimagelabelbg: #3B3838;
    /* theme button background color: */
    --btnBg: #000080;

    --purplenote: #eed8ff;
}

.themebtn {
    font-size: x-large; height: 48px; width: 43px;
    border: none; border-right: 4px solid #333;
    margin-left: 4px;
    background-color: var(--btnBg);
    cursor: pointer;
}

body {
  margin: 0px;
  background: var(--bg);
  color: var(--fontColor);
  font-family: 'baloo', Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}

/* ============================================= Navigation Bar */

a, button {background-color: inherit; border-width: inherit; font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; color: inherit; cursor: pointer; padding: 0;}

a {text-decoration: underline dashed var(--fontColor)}
a:hover {color: var(--linkhovercolor); text-decoration: underline dashed var(--fontColor);}

a[href*='//'] {text-decoration: underline var(--fontColor);}
a[href*='//']:hover {color: var(--linkhovercolor); text-decoration: underline var(--fontColor);}

a.external {text-decoration: underline var(--fontColor);}
a.external:hover {color: var(--linkhovercolor); text-decoration: underline var(--fontColor);}


/* justify-content: space-between means it'll push things to the edges
   align-items: center should mean vertically */

nav {display: flex; justify-content: space-between; align-items: center; width: 100%; height: 55px; font-family: 'homemade-apple'; font-size: small; overflow: hidden; background-color: #333;}
  
nav a {color: white; text-decoration: none; margin-left: 15px;}
  
.to-the-right {display: flex; justify-content: flex-end; align-items: center;}

.dropdown {overflow: hidden;}
  
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
.nav a:hover, .dropdown:hover .dropbtn {
    background-color: #fff2cc;
    color: var(--steelgrey);
}
  
.dropdown-content {
   display: none;
   position: absolute;
   font-family: baloo;
   background-color: #f9f9f9;
   min-width: 150px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
/* ============================= NAVBAR END ======= */

.margins {margin: 0px 10px 10px 10px;}
.container {position: relative;}
.filterDivcontainer {margin-top: 20px; overflow: hidden;}
.filterDiv {display: none;}
.show {display: block;}
/* ------------------------------------------------ */
.flex {display: flex;}
.flex-nowrap {display: flex; flex-wrap: nowrap;}
.flex-wrap {display: flex; flex-wrap: wrap;}

.translator {text-decoration: underline dashed #43464B;}

@media screen and (max-width: 900px) {
  body {
    /* margin: 30px 20px top right bottom left*/
  }
}

/* ---- this is for things you want to be different
based on screen size (eg <img src="" class="desktop OR mobile">)*/
.mobile {display: none;}

@media(max-width: 600px){
  .desktop {
    display:none;
  }
  .mobile {
    display:block;
  }
}

/* ================================= THE POPUP THING */

 /* Popup container - can be anything you want */
 .popup {
    text-decoration: underline dashed #43464B;
    /* border-bottom: 1px dashed #43464B; */
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: max-content;
    background-color: rgb(251, 251, 212);
    text-align: center;
    border: 1px dashed gray;
    border-radius: 6px;
    padding: 2px 10px 1px 10px; /* top right bottom left? */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
  
  
  /* =================================================== */
  

/* ===================================== IMAGES */

  /* WORDS ON IMAGES: */
  
  .bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    background-color: var(--headerimagelabelbg);
    padding: 0px 5px 0px 5px; /*top right bottom left*/
  }
  /* -----------------end words on images */

  .book {
    /* box-shadow: 0 0 5px -1px black, inset -1px 1px 2px rgba(255, 255, 255, 0.5); */
    margin: 1px;
    /* border-radius: 0px 3px 3px 0px; */
    height: 150px;
    border-right: 8px solid transparent;
    border-image: url(images/image-editors/small-pages.png) 30 round;
  }


  .small {
    border-right: 5px solid transparent;
    border-image: url(images/image-editors/small-pages.png) 30 stretch;
  }

  .tv {
    height: 165px;
    padding: 4px 7px 19px;
    background: url(00/images/image-editors/tv-black.png) 0/100% 100%;
  }

  .videogame {
    height: 170px;
  }


  .incomplete {
    -webkit-mask-image: linear-gradient(to left, transparent 20%, white);
  }

  .inarticle {width: 100%; display: block;
    margin-left: auto;
    margin-right: auto;
  }

  
  .good {filter: drop-shadow(0 0 0.5rem rgb(255, 217, 0));}
/* note: if marking an image as bad, add tabindex="0" to it (img src="" tabindex="0") so it becomes focusable (so that clicking it can remove the blur */
  .bad {filter: blur(3px);}
  .bad:hover{filter: blur(0px);}
  .bad:focus{filter:blur(0px); outline: none;}
  /* outline: none is because when you focus on something, some browsers give it an outline */

/*================================================= */

h2 {font-family: 'satisfy';}

.saudi .title {color: #005149;}

.header {font-weight: bold;}
.saudi .header {color: #005149;}

/* description used in lounge bookshelf */
.withdescription {margin-bottom: 0.1em;}  /* <- to get rid of the space between h2 (satisfy) and the description */
.description {font-size: small; line-height: 99%; margin-bottom: 1em;}

article {
    padding: 5px 5px 10px 10px;  /* top right bottom left */
    font-size: small;
    background-color: var(--articlebg);
}

.jarticle {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.firstp {margin-top: 0;}
.jfirst {
    vertical-align: middle;    
  }

.ar {font-family: 'arslanwa'; font-size: large;}

blockquote {
    margin-left: 15px;
    padding-left: 20px;
    border-left: 2px solid;
    border-image:linear-gradient(to top,#c4e17f, #f7fdca,#fad071,#f0766b,#db9dbe,#c49cdf, #6599e2,#61c2e4) 10;
}

.saudi blockquote {border-image:linear-gradient(to bottom, #005149, #c4e17f, #053c2d, black) 10;}

/* #E2EFDA */

mark {
    background: linear-gradient(to right, var(--highlightColor) 100%, transparent 0%);
    background-repeat: repeat-y;
    color: var(--highlightTextColor);
    padding-left: 2px;
    padding-right: 2px;
  }

.saudi mark {
    background-color: var(--saudihighlight);
}

hr {margin: 30px 0;}
  .hr1 {margin: 30px 0; border: 0; height: 2px; background-image: linear-gradient(to right, transparent, black, transparent);}

  .hr2 {margin: 30px 0; border: 0; border-top: 1px dashed #6a6c6f;}


.collapsible {
    border-radius: 5px;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    color: white;
    background-color: #3494BA;
  }

  .collapsible a {color: white;}
  
  /* .active, .collapsible:hover {
    background-color: #bfbfbf;
    color: white;
  } */

  .saudi .collapsible {
    background-color: #005149;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .collapsible.active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    border: 1px dashed #3494BA;
    border-top: none;
    border-bottom: none;
    transition: max-height 0.2s ease-out;
    margin: 5px 0px 5px 0px; /*top right bottom left*/
  }

  .saudi .content {
    border-right: 1px dashed #005149;
    border-left: 1px dashed #005149;
  }


/* mynote */
  .purplecharmonman {
    font-family: 'charmonman';
    color: var(--purplenote);
    line-height: 1.5;
  }

  .purple {
    color: var(--purplenote);
  }

