
/* hello!!!! ✭ */

.light-theme {
    /* full page background and font colors: */
    --bg: #D6DCE5; --fontColor: #43464B;
    /* what color should links be when you hover on them: */
    --linkhovercolor: #0070C0;
    /* background color of each article: */
    --articlebg: #f5f5f5;
    /* when highlighting using <mark>: */
    --highlightColor: #fff2cc; --highlightTextColor: ;
    /* -------------------------------------------- */
    /* if you have words in your header image like on magazine rack: */
    --headerimagelabelbg: #F2F2F2;
    /* theme button background color: */
    --btnBg: #87CEEB;
}

.dark-theme {
    /* full page background and font colors: */
    --bg: #43464B; --fontColor: #edfffd;
    /* what color should links be when you hover on them: */
    --linkhovercolor: #0070C0;
    /* background color of each article: */
    --articlebg: #333;
    /* when highlighting using <mark>: */
    --highlightColor: #7030A0; --highlightTextColor: white;
    /* -------------------------------------------- */
    /* if you have words in your header image like on magazine rack: */
    --headerimagelabelbg: #3B3838;
    /* theme button background color: */
    --btnBg: #000080;
}

.themebtn {
    font-size: x-large; height: 48px; width: 43px;
    border: none; border-right: 4px solid #333;
    margin-left: 4px;
    background-color: var(--btnBg);
    cursor: pointer;
}

body {
  margin: 0px;
  background: var(--bg);
  color: var(--fontColor);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}

/* ============================================= Navigation Bar */

a {color: inherit; text-decoration: underline dashed;}
a:hover {color: var(--linkhovercolor);}

/* justify-content: space-between means it'll push things to the edges
   align-items: center should mean vertically */

nav {display: flex; justify-content: space-between; align-items: center; width: 100%; height: 55px; font-family: 'homemade-apple'; font-size: small; overflow: hidden; background-color: #333;}
  
nav a {color: white; text-decoration: none; margin-left: 15px;}
  
.to-the-right {display: flex; justify-content: flex-end; align-items: center;}

.dropdown {overflow: hidden;}
  
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
.nav a:hover, .dropdown:hover .dropbtn {
    background-color: #fff2cc;
    color: var(--steelgrey);
}
  
.dropdown-content {
   display: none;
   position: absolute;
   font-family: baloo;
   background-color: #f9f9f9;
   min-width: 150px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
}
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
/* ============================= NAVBAR END ======= */

.margins {margin: 0px 10px 10px 10px;}
.container {position: relative;}
.filterDivcontainer {margin-top: 20px; overflow: hidden;}
.filterDiv {display: none;}
.show {display: block;}
/* ------------------------------------------------ */
.flex {display: flex;}
.flex-container-nowrap {display: flex; flex-wrap: nowrap;}
.flex-container-wrap {display: flex; flex-wrap: wrap;}

@media screen and (max-width: 900px) {
  body {
    /* margin: 30px 20px top right bottom left*/
  }
}

/* ---- this is for things you want to be different
based on screen size (eg <img src="" class="desktop OR mobile">)*/
.mobile {display: none;}

@media(max-width: 600px){
  .desktop {
    display:none;
  }
  .mobile {
    display:block;
  }
}

/* ------------------------------------ IMAGES */

  /* WORDS ON IMAGES: */
  
  .bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
    background-color: var(--headerimagelabelbg);
    padding: 0px 5px 0px 5px; /*top right bottom left*/
  }
  /* -----------------end words on images */

  .inarticle {width: 100%; display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* --------------------------------------------- */

article {
    padding: 5px 5px 10px 10px;  /* top right bottom left */
    font-size: small;
    background-color: var(--articlebg);
}

blockquote {
    margin-left: 15px;
    padding-left: 20px;
    border-left: 2px solid;
    border-image:linear-gradient(to top,#c4e17f, #f7fdca,#fad071,#f0766b,#db9dbe,#c49cdf, #6599e2,#61c2e4) 10;
}

mark {
    background-color: var(--highlightColor);
    color: var(--highlightTextColor);
  }

hr {margin: 30px 0;}
  .hr1 {margin: 30px 0; border: 0; height: 2px; background-image: linear-gradient(to right, transparent, black, transparent);}
