
/* ! make a navbar */

/* ====================================== BODY */
body {
    margin: 70px 20px 20px 20px; /* top right bottom left?*/
    background: var(--bg);
    color: var(--fontColor);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (min-width: 600px) {
    body {
        margin: 70px;
    }
  }

/* ------------------------------------ IMAGES */
.headerimg {
    width: 100%;
    max-width: 500px;
    float: center;
    height: auto;
    display: block;
  }

/* --------------------------- SEPARATOR LINE! */
hr {
    margin: 40px 0;
}

.hr1 {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, black, transparent);  
}